stanford-ner:
  build: .
  ports:
    - "9191:9191"
    - "9190:9190"
    - "5000:5000"
  volumes:
    - ./stanford:/stanford
    - ./:/opt
  command: python -u /opt/run.py
  environment:
    - STANFORD_NER_FOLDER=stanford-ner-2015-04-20
    - STANFORD_NER_MODEL=custom-ner-model.ser.gz
    - STANFORD_NER_JAR=stanford-ner.jar
    - STANFORD_POS_FOLDER=stanford-postagger-full-2015-12-09
    - STANFORD_POS_MODEL=spanish.tagger
    - STANFORD_POS_JAR=stanford-postagger.jar
    - STANFORD_POS_LIB=slf4j-api.jar 

